alive-progress==1.6.2
attrs==20.3.0
click==7.1.2
collection==0.1.6
cycler==0.10.0
Cython==0.29.21
gensim==3.8.3
glove-py==0.2.3
importlib-metadata==3.4.0
iniconfig==1.1.1
joblib==0.17.0
kiwisolver==1.3.1
matplotlib==3.3.3
nltk==3.5
numpy==1.19.4
packaging==20.9
pandas==1.1.4
pluggy==0.13.1
py==1.10.0
pybind11==2.6.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4.1
regex==2020.11.13
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
smart-open==4.0.1
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
