# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: MiiENLP

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        if [ -f miienlp/requirements.txt ]; then pip install -r miienlp/requirements.txt; fi
#    - name: Test Aggregation
#      run: |
#        cd unittest/aggregation/
#        pytest -k test_aggregation.py
        
#    - name: Test Token Counts
#      run: |
#        cd unittest/tokenCounts/
#        pytest -k test_tokenCounts.py
         
    - name: Test Word Embeddings
      run: |
        cd unittest/wordEmbeddings/
        pytest -k test_wordEmbeddings.py
        
    - name: Test Text Cleaning
      run: |
        cd unittest/textCleaning/
        pytest -k test_textCleaning.py
